<nav class="navbar fixed-top subnavbar" *ngIf="clientData">
    <span class="navbar-text white-text">
        <div class="h6 left">
            <span>{{ clientData.name | uppercase }} </span>
            <span>{{ clientData.firstSurname | uppercase }} </span>
            <span>{{ clientData.secondSurname | uppercase }} - </span>
            <span>{{ clientData.document | uppercase }} - </span>
            <span>{{ clientData.address.type | uppercase }} </span>
            <span>{{ clientData.address.direction | uppercase }}, </span>
            <span>Nº{{ clientData.address.number | uppercase }} - </span>
            <span>{{ clientData.address.location | uppercase }} </span>
            <span>({{ clientData.address.postalCode | uppercase }}) - </span>
            <span>{{ clientData.address.province | uppercase }} - </span>
            <span>{{ clientData.address.country | uppercase }}</span>
        </div>
        <div class="h6 right">
            SEGMENTO {{ clientData.clientType }}
        </div>
    </span>
</nav>