<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="!loading">
    <p>lines-dashboard workeees!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
    <p>lines-dashboard works!<br></p>
</div>