<div *ngIf="invoiceResumeData">
    <div class="header-component" data-toggle="collapse" href="#collapseResumeInvoice" aria-expanded="true" aria-controls="collapseExample">
        {{ title }}
        <i class="fas fa-angle-down rotate-icon"></i>
    </div>
    <div class="collapse show" id="collapseResumeInvoice">
        <div *ngIf="chartSelected">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Factura {{ month }} ({{ chartSelected.invoiceDate }})</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let invoice of chartSelected.invoices;" class="list-group-item">
                        <h3>{{ invoice.phone }}</h3>
                        <span>
                            <b>Base Imponible: </b>{{ invoice.amount }} € 
                        </span>
                        <br>
                        <span>
                            <b>I.V.A.: </b>{{ invoice.tax }} % 
                            ({{ invoice.taxAmount }} €) 
                        </span>
                        <br>
                        <span>
                            <b>Importe Total: </b>{{ invoice.totalAmount }} € 
                        </span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="{{ url }}" (click)="downloadInvoice()" class="card-link">Descargar factura</a>
                    <a href="{{ url }}" (click)="showInvoice()" target="_blank" class="card-link">Ver factura</a>
                </div>
            </div>
        </div>
        <div *ngIf="!chartSelected">
            <div class="alert alert-danger" role="alert">
                No existen facturas.
            </div>
        </div>
    </div>
</div>

<app-notification [notification]="notification"></app-notification>