.maincontainer{
    margin-top:120px;
    margin-bottom:20px;
    width: 100%;
    z-index: 0 !important;
}

.subnavbar{
    background-color: #6351ce;
    color:#fff;
    margin-top:55px;
    height: 40px;
    line-height: 5px;
    z-index: 20 !important;
}

.spinnercontainer{
    margin:0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    color:#fff;
}

::placeholder {
    color: #C7DDE9;
}